.so-widget-sow-accordion-default-f81bb14284f1 .sow-accordion .sow-accordion-panel {
  margin-bottom: 10px;
}
.so-widget-sow-accordion-default-f81bb14284f1 .sow-accordion .sow-accordion-panel .sow-accordion-panel-header {
  position: relative;
  cursor: pointer;
  padding: 15px 30px 15px 30px;
  background-color: #ffffff;
  color: #dd3333;
  text-align: center;
  
  
  
  text-transform: none;
}
.so-widget-sow-accordion-default-f81bb14284f1 .sow-accordion .sow-accordion-panel .sow-accordion-panel-header:hover {
  background-color: #dd3333;
  color: #ffffff;
  border-color: #dd3333;
}
.so-widget-sow-accordion-default-f81bb14284f1 .sow-accordion .sow-accordion-panel .sow-accordion-panel-header .sow-accordion-title {
  display: inline-block;
  width: calc(100% - 20px);
}
.so-widget-sow-accordion-default-f81bb14284f1 .sow-accordion .sow-accordion-panel .sow-accordion-panel-header .sow-accordion-open-close-button {
  float: left;
}
.so-widget-sow-accordion-default-f81bb14284f1 .sow-accordion .sow-accordion-panel:not(.sow-accordion-panel-open) > .sow-accordion-panel-header .sow-accordion-close-button {
  display: none;
}
.so-widget-sow-accordion-default-f81bb14284f1 .sow-accordion .sow-accordion-panel.sow-accordion-panel-open > .sow-accordion-panel-header .sow-accordion-open-button {
  display: none;
}
.so-widget-sow-accordion-default-f81bb14284f1 .sow-accordion .sow-accordion-panel .sow-accordion-panel-content .sow-accordion-panel-border {
  background-color: #ffffff;
  padding: 15px 30px 15px 30px;
  color: #dd3333;
  
  
  overflow: auto;
}