.so-widget-sow-tabs-default-cdeae9671c3b .sow-tabs .sow-tabs-tab-container {
  background-color: #ffffff;
  padding: 0px 0px 0px 0px;
  text-align: left;
  border-style: solid;
  border-color: #dd9933;
  border-width: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.so-widget-sow-tabs-default-cdeae9671c3b .sow-tabs .sow-tabs-tab-container .sow-tabs-tab {
  display: inline-block;
  cursor: pointer;
  background-color: #1e73be;
  padding: 30px 30px 30px 30px;
  margin: 0px 0px 0px 0px;
  color: #1e73be;
  
  
  font-size: 16px;
  transition: all 0.3s;
}
.so-widget-sow-tabs-default-cdeae9671c3b .sow-tabs .sow-tabs-tab-container .sow-tabs-tab.sow-tabs-tab-selected,
.so-widget-sow-tabs-default-cdeae9671c3b .sow-tabs .sow-tabs-tab-container .sow-tabs-tab:hover {
  background-color: #1e73be;
  color: #2d2d2d;
}
.so-widget-sow-tabs-default-cdeae9671c3b .sow-tabs .sow-tabs-tab-container .sow-tabs-tab .sow-tabs-title {
  line-height: 1;
}
.so-widget-sow-tabs-default-cdeae9671c3b .sow-tabs .sow-tabs-panel-container {
  position: relative;
  background-color: #1e73be;
  
}
.so-widget-sow-tabs-default-cdeae9671c3b .sow-tabs .sow-tabs-panel-container .sow-tabs-panel {
  padding: 0px 0px 0px 0px;
}
.so-widget-sow-tabs-default-cdeae9671c3b .sow-tabs .sow-tabs-panel-container .sow-tabs-panel .sow-tabs-panel-content {
  
  
  font-size: 16px;
}
.so-widget-sow-tabs-default-cdeae9671c3b .sow-tabs .sow-tabs-panel-container .sow-tabs-panel .sow-tabs-panel-content > p {
  margin: 0;
}